{{!< default}}

<nav class="level">
  <div class="level-left">
    <div class="tabs is-toggle">
      <ul>
        <li {{#if_eq orderBy "finishDate"}}class="is-active"{{/if_eq}}>
          <a href="/?orderBy=finishDate">By finished by</a>
        </li>
        <li {{#if_eq orderBy "date"}}class="is-active"{{/if_eq}}>
          <a class="is-active" href="/?orderBy=createDate">By created at</a>
        </li>
        <li {{#if_eq orderBy "priority"}}class="is-active"{{/if_eq}}>
          <a class="" href="/?orderBy=priority">By priority</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="level-right">
    <ul>
      {{#if filter}}
        <a class="button is-primary" href="/?filter=true">Show finished</a>
      {{else}}
        <a class="button is-primary" href="/?filter=false">Show all</a>
      {{/if}}
    </ul>
  </div>
</nav>

{{#if notes }}
  {{#each notes}}
    <div class="note">
      <header class="note__header">
        <span class="note__title">
          <input class="checkbox" type="checkbox" name="finished" id="finished" {{#if finished}}checked="checked"{{/if}} disabled>
          {{title}}
        </span>
        <span class="note__priority">
          {{#times priority}}
            ★
          {{/times}}
        </span>
      </header>
      <div class="note__content">
        {{description}}
        <br />
        <small>Finished by: {{finishedBy}}</small>
      </div>
      <footer class="note__footer">
        <a class="note__footer-item" href="/edit/{{_id}}" >Edit</a>
      </footer>
    </div>
  {{/each}}
{{else}}
  <article class="message">
    <div class="message__header">
      Ooooops!
    </div>
    <div class="message__body">
      <p>Currently there are no notes available.</p>
      <p>Create one if you want to see some.</p>
    </div>
  </article>
{{/if}}
