{{!< default}}

<div class="btn-group">
  <a class="btn" href="/new">Create new note</a>
  {{#if_eq style "dark"}}
    <a class="btn btn--shift-right" href="/?style=light">Light Style</a>
  {{else}}
    <a class="btn btn--shift-right" href="/?style=dark">Dark Style</a>
  {{/if_eq}}
</div>

<div class="btn-group btn-group--expand">
  {{#each orderOptions}}
    <a class="btn{{#if_eq ../orderBy condition}} btn--active{{/if_eq}}" href="{{#if_eq ../orderBy condition}}{{#if_eq ../orderReset true}}/?reset=true{{else}}/?orderBy={{condition}}&order={{#if_eq ../order 'asc'}}desc{{else}}asc{{/if_eq}}{{/if_eq}}{{else}}/?orderBy={{condition}}&order=asc{{/if_eq}}">
      {{btnText}}
      {{#if_eq ../orderBy condition}}
        {{#if_eq ../order "asc"}}&#9650;{{/if_eq}}
        {{#if_eq ../order "desc"}}&#9660;{{/if_eq}}
      {{/if_eq}}
    </a>
  {{/each}}

  {{#if notes}}
    {{#if_eq filter 'true'}}
      <a class="btn btn--shift-right" href="/?filter=false">Show all</a>
    {{else}}
      <a class="btn btn--shift-right" href="/?filter=true">Hide finished</a>
    {{/if_eq}}
  {{/if}}
</div>

<hr class="spacer" />

{{#if notes }}
  <div class="notes{{#if_eq filter 'true'}} notes--hide-finished{{/if_eq}}">
    {{#each notes}}
      <div class="note{{#if finished}} note--finished{{/if}}">
        <div class="note__header">
          <div class="note__title">
            <input class="checkbox" type="checkbox" id="finished" {{#if finished}}checked="checked"{{/if}} disabled>
            <label for="finished">
              <i></i>{{title}}
              <small class="note__due-date">{{moment d "to" finishedBy }}</small>
            </label>
          </div>

          <div class="note__priority">
            {{#times priority}}★ {{/times}}
          </div>
        </div>

        <div class="note__content">
          <p>{{description}}</p>
        </div>

        <div class="note__footer">
          <a class="note__footer-item" href="/edit/{{_id}}" >Edit</a>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="message">
    <div class="message__header">
      Ooooops!
    </div>
    <div class="message__body">
      <p>Currently there are no notes available.</p>
      <p><a href="/new">Create one</a> if you want to see some.</p>
    </div>
  </div>
{{/if}}
